/* CSS files add styling rules to your content */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, arial, sans-serif;
  margin: 0px;
  overflow-x:hidden;
}


.firstname {
  margin: 10px;
  position: relative;
  /*width: 882px;
  height: 169px;*/
  left: 40px;
  top: 79px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  /*line-height: 234px;*/
}

.side {
  margin: 10px;
  position: relative;
  /*width: 362px;
  height: 180px;*/
  left: 280px;
  /*top: 270px;*/

  display: flex;
}

.lastname {
  margin: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  /*line-height: 234px;*/
}

.bio {
  margin: 10px;
  position: relative;
  width: 50%;
  /*height: 309px;*/
  left: 20px;
  top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  /*line-height: 42px;*/
}

.links {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-around;
}

a.links {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #000;
  text-decoration: none;
}

a:link.links {
  color: #000;
}

a:hover.links , a:visited:hover.links{
  color: #00aeff;
}

a:visited.links {
  color: #000;
}


/*PROJECTS*/

.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.proj-container {
  display: flex;
  flex-direction: column;
}

h2.proj-container {
  margin: 40px;
  font-size: 48px;
}

.howto-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  background: #C4C4C4;
  max-width: 30%;
}

h2.howto-container {
  margin: 10px;
  margin-left: 50%;
  font-size: 48px;
}

h3.howto-container {
  margin: 10px;
  margin-top: 30px;
  font-size: 30px;
}

/*MORE*/
h1.more-container, p.more-container{
    text-align: center;
}
