/* CSS files add styling rules to your content */

body {
  font-family: Roboto, arial, sans-serif;
  margin: 10px;
  overflow-x:hidden;
}


.firstname {
  margin: 10px;
  position: relative;
  /*width: 882px;
  height: 169px;*/
  left: 40px;
  top: 79px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  /*line-height: 234px;*/
}

.side {
  margin: 10px;
  position: relative;
  /*width: 362px;
  height: 180px;*/
  left: 280px;
  /*top: 270px;*/

  display: flex;
}

.lastname {
  margin: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  /*line-height: 234px;*/
}

.bio {
  margin: 10px;
  position: relative;
  width: 50%;
  /*height: 309px;*/
  left: 20px;
  top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  /*line-height: 42px;*/
}

.links {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-around;
}

.links a {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000;
  text-decoration: none;
}

.links a:link{
  color: #000;
}

.links a:hover{
  color: #00aeff;
}

.links a:visited{
  color: #000;
}
